@{
    ViewData["Title"] = "Contact";
}

<div class=""
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Located in Elk Grove<br />
    Sacramento, CA 98831<br />
    <abbr title="Phone">P:</abbr>
    833.WEB.PLAN
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
